@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lin font-open text-bleu-turquin;
}

/* Styles pour les selects pour garantir la visibilité du texte */
select {
  color: #394869 !important;
  background-color: white !important;
}

select option {
  color: #394869 !important;
  background-color: white !important;
}

